.root {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px)
{
  .fixed {
    max-width: 540px;
  }
}

@media (min-width: 768px){
  .fixed {
    max-width: 720px;
  }
}

@media (min-width: 992px){
  .fixed {
    max-width: 960px;
  }
}

@media (min-width: 1200px){
  .fixed {
    max-width: 1140px;
  }
}
