:host {
  display: flex;
  align-items: stretch;
  border: solid 1px var(--border-color);

  > * {
    margin: 10px;
  }

  &,
  .poster {
    border: solid 1px var(--border-color);
  }

  .poster {
    min-width: 100px;
    min-height: 100px;
    width: 100px;
    height: 100px;
  }

  .content {
    flex-grow: 1;
    overflow: hidden;

    > header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      > h3 {
        margin: 0;
      }
    }

    > .lines {
      overflow: hidden;
      margin: 0;
      max-height: 55px;
    }
  }

  .actions {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: space-evenly;
  }
}
