<select [formControl]="source" [compareWith]="compareFn">
  <option *ngFor="let option of filteredSources$ | async" [ngValue]="option">{{
    option.name
  }}</option>
</select>

<form
  [formGroup]="filterGroup"
  (ngSubmit)="onFilterChanged(this.filterGroup.value)"
>
  <input formControlName="filter" />
  <button type="submit">Filter</button>
</form>

<label>
  <input type="checkbox" [formControl]="mineFlag" />
  <span>Only created by me</span>
</label>

<button (click)="onAddNews()">Add News</button>
