<app-sub-header
  [text]="(selectedSource && selectedSource.name) || ''"
></app-sub-header>
<app-news-toolbar
  [sources]="sourses$"
  (addNewsClick)="onAddNews()"
  (sourceChanged)="onSourceChanged($event)"
  (filterChanged)="onFilterChanged($event)"
></app-news-toolbar>
<div class="container">
  <app-news-article-short
    *ngFor="let news of newsList$ | async"
    [news]="news"
    [canDelete]="selectedSource.isMine"
    (editClick)="onEdit($event)"
    (deleteClick)="onDelete($event)"
    (readMoreClick)="onReadMore($event)"
  ></app-news-article-short>
</div>
