@mixin flex() {  
  display: flex;
  align-items: center;
  @include justify-content(center);
}

@mixin inline-block() {  
  display: inline-block;  
  vertical-align: middle;  
}

@mixin inline-flex() {  
  display: inline-flex;
  align-items: center;  
  vertical-align: middle;
  @include justify-content(center);
}

@mixin justify-content($justify) {
  justify-content: $justify;
}

@mixin border-box() {
  box-sizing: border-box;  
}

@mixin border-radius($radius) {
  border-radius: $radius;  
}

@mixin non-selectable {
  user-select: none;
}