@import "styles/mixins.scss";
@import "styles/colors.scss";

.root{
  @include inline-flex();

  > button {
    &:not(:first-child) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &:not(:last-child) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-right: 1px solid lighten($black, 50%);
    }  
  }
}