.root{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.root > button:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.root > button:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 1px solid var(--dark-gray);
}