.main-container {
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  padding-bottom: calc(var(--footer-height) + 20px);

  .main-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: var(--footer-height);
  }
}
