:root {
  // colors
  --border-color: black;
  --bg-color: lightgray;
  // sizes
  --footer-height: 50px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  position: relative;
}

.container {
  width: 80vw;
  margin: 20px auto;
}
